html{
    background-image: url(https://c1.wallpaperflare.com/preview/391/808/913/background-retro-disk-vinyl.jpg);
    border: solid 4px
}



h1 {
    background-color: Black;
    text-align: center;
    font-size: 50px;
    color: turquoise
    
    
}

p {
    background-color: black;
    font-size: 25px;
    color: red
}

ol {
    border: solid black 6px;
    display:inline-block;
    height: 800px;
    width: 200px;
    position:absolute; top: 180px; 
    text-align: left;
    font-size: 25px;
    color: white;
}

img {
    position: absolute; left: 300px;

}